@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url(./images/bg-pattern-top.svg) left -10% top 20500% no-repeat, url(./images/bg-pattern-bottom.svg) right -5% bottom 25909% no-repeat var(--dark-cyan);
  padding: 60px;
  /* background-size: ; */
  padding: 60px;
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  color: var(--very-dark-desaturated-blue);
  margin: 0;
  font-size: 30px;
  margin-top: 25px;
}

h1 .age{
  color: var(--dark-grayish-blue);
  font-weight: 400;
  margin-left: 7px;
}


h2 {
  font-size: 20px;
  margin-top: 15x;
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--dark-gray);
  font-weight: 400;
}

.card {
  border-radius: 15px;
  background: white url(./images/bg-pattern-card.svg) repeat-x;
  overflow: hidden;
  text-align: center;
  padding-top: 85px;
  flex-shrink: 0;
  max-width: 450px;
  flex-grow: 1;
  z-index: 1;

  -webkit-box-shadow: 0px 10px 80px -30px var(--dark-grayish-blue);
  -moz-box-shadow: 0px 10px 80px -30px var(--dark-grayish-blue);
  box-shadow: 0px 10px 80px -30px var(--dark-grayish-blue);
}

.image {
  border-radius: 50%;
  border: 6px solid white;
}

.statistics {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #e8e8e8;
  padding: 10px 0;
}

.statistics h3 {
  font-size: 22px;
  letter-spacing: 1px;
}

.statistics h3 small {
  display: block;
  color: var(--dark-gray);
  font-weight: 400;
  margin-top: 8px;
  font-size: 15px;
  letter-spacing: 1px;
}

/* Mobile */
@media (min-width:375px){

}
